.login-form {
  height: 15rem;
  width: auto;
  display: flex;
  flex-direction: column;
}
.login-form div {
  margin-top: 2rem;
}
.login-form button {
  display: flex;
  background-color: rgb(218, 159, 147);
  padding: 0.5rem;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 1rem;
}
